body {
  margin: 0;
}

.contenedor-video {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6ZJwCeCCDBu6IpFm51dIn3IDdG5veZc2Udg&s');
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  margin-bottom: 10px;
   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrXggF-WPumfjBMxYHfSJifLoIu-vq4Sj_Pg&s');
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}
